/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
} */

.mg {
    margin: 50px 3px;
}

.style {
    text-align: center;
    line-height: 2;
}

.style p {
    font-size: 15px;
    font-weight: 500;
}