*
{
    margin: 0 auto;
    box-sizing: border-box;
}
.main
{
    font-family: "Montserrat", sans-serif;
    width: 100%;
}
.text
{
    margin: 5% auto;
    text-align: center;
}
.main1
{
    height: auto;
}
.infor1
{
    float: left;
    height: 350px;
    width: 50%;
    margin-bottom: 5%;
    margin-top: 3%;
    
}
.infor
{
    /* float: left; */
    height: 350px;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 3%;
}
.img
{
    float:left;
    width: 300px;
    height: 350px;
}
.img img
{
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.infor1 .img {
    /* clear: both; */
    float: none;
    margin: 0 auto;
}
.namejob
{
    margin: 5% 4%;
}
.namejob p
{
    text-align: center;
}
.in4
{
    width: 70%;
    height: 350px;
    float:right;
}
.in4 p
{
    font-size: 16px;
    padding-top: 3%;
    color: rgb(75, 74, 74);
    line-height: 1.5;
}